{{ember-material-ui-datetime-picker-toolbar
  toggleAction='toggleMonthView'
  navAction='changeMonth'
  label=monthYear
}}

<ul class="week">
  <li class="day">S</li>
  <li class="day">M</li>
  <li class="day">T</li>
  <li class="day">W</li>
  <li class="day">T</li>
  <li class="day">F</li>
  <li class="day">S</li>
</ul>

<div class="month">
  {{ember-material-ui-datetime-picker-calendar-view-calendar}}
</div>
